@page
@model IndexModel
@{
  ViewData["Title"] = "Home page - TEST";
}
@section Scripts {
  <script src="~/app/js/chunk-vendors.js"></script>
  <script src="~/app/js/app.js"></script>
}
<div id="app"></div>
